@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap');

body {
    background-color: #1f2937;
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    margin: 0;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
}

h3 {
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
    font-style: italic;
    margin: 0;
}

h4 {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 12px;
}

a {
    text-decoration: none;
}

p {
    font-size: 18px;
    margin: 0;
}

.white {
    color: #e5e7eb;
}

.bold {
    font-weight: 700;
}

.black {
    color: #1F2937;
}

.grey-bg {
    background-color: #e5e7eb;
}

.blue-bg {
    background-color: #3882f6;
}

.white-bg {
    background-color: white;
}

#section {
    display: flex;
    border: solid green;
    justify-content: center;
}

#signup {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    color: #f9faf8;
    font-size: 18px;
}

#image_placeholder {
    background-color: #222222;
    color: #f9faf8;
    padding: 24px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.plate {
    display: flex;
    max-width: 800px;
    padding-left: 12px;
    padding-right: 12px;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40px;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    flex: 1;
    height: 100%;
}

.left {
    align-items: flex-start;
}

.right {
    align-items: flex-end;
}


.padded {
    padding-top: 48px;
    padding-bottom: 48px;
}

.extra-info {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.gallery {
    display: flex;
    justify-content: space-between;
}

.quote {
    gap: 0px;
}

.cta {
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.cta-left {
    display: flex;
    flex-direction: column;
}

.gallery-item {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
}

.gallery-frame {
    height: 180px;
    width: 180px;
    border: solid #3882f6;
}

.w-border {
    border: solid white;
}